@import '../../../../scss/variables.scss';

.recipe {
  cursor: pointer;
}

.title {
  margin-bottom: 16px;
  padding-right: 56px;
}

.time {
  position: absolute;
  right: 16px;
  top: 16px;
}

.ingredients {
  font-size: 12px;
  padding: 16px;
}
