<div class="container">
  <button mat-fab type="button" color="primary" (click)="addRecipe()">
    <mat-icon>add</mat-icon>
  </button>

  <mat-card *ngFor="let recipe of recipes$ | async" (click)="goToRecipe(recipe.id)" mat-ripple class="recipe">
    <mat-card-title class="title">{{recipe.name}}</mat-card-title>

    <mat-card-content>
      <div class="time">
        <app-recipe-time [time]="recipe.time"></app-recipe-time>
      </div>
      {{recipe.summary}}
    </mat-card-content>

    <mat-card-footer>
      <div class="ingredients" *ngIf="recipe.ingredients.length > 0">
        Zutaten:
        <span *ngFor="let ingredient of recipe.ingredients" class="ingredient">
        {{ingredient.ingredient.name}}
      </span>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
