.todo-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 5px;

  &.done .content {
    color: gray;
    text-decoration: line-through;
  }
}

.done-check {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.content,
.editing-content {
  flex: 1;
}
