<div class="todo-item" *ngIf="item" [ngClass]="{'done': item.done, 'editing': editing}">
  <label for="{{'item-'+item.id}}" class="done-check">
    <input type="checkbox" id="{{'item-'+item.id}}" [ngModel]="item.done" (change)="toggleDone()">
  </label>
  <div class="content" *ngIf="!editing">
    <div class="text" (click)="toggleEdit()">{{item.content}}</div>
    <button *ngIf="listId" class="button-add" mat-mini-fab type="button" color="accent" (click)="addAfter()">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="listId" class="button-delete" mat-mini-fab type="button" color="warn" (click)="deleteItem()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="fill" class="editing-content" *ngIf="editing">
    <input matInput type="text" class="editing-content" [(ngModel)]="editContent" />
    <div matSuffix>
      <button mat-icon-button (click)="confirmEdit()">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button (click)="cancelEdit()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-form-field>
</div>
<app-add-todo-item (addTodoItem)="addAfter()"></app-add-todo-item>
