@import './../../../../scss/scss-variables';

.todo-item {
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 50px;
  gap: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;

  &.done .content {
    color: gray;
    text-decoration: line-through;
  }
}

.done-check {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  height: 50px;
  justify-content: center;
  width: 50px;

  &:after {
    content: '\e836';
    font-family: 'Material Icons';
    font-size: 35px;
  }

  .done & {
    background-color: rgba(255, 255, 255, 0.05);

    &:after {
      color: #69f0ae;
      content: '\e876';
    }
  }

  input {
    display: none;
  }
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  padding-right: 5px;
  width: 100%;

  &:hover .button-delete {
    opacity: 1;
  }

  .text {
    flex: 1;
  }
}

.button-add {
  display: none;
}

.button-delete {
  opacity: 0;
  transition: opacity 0.4s;
}

.editing-content {
  flex: 1;
  margin-top: -3px;
  overflow: hidden;

  mat-form-field {
    margin-left: -16px;
    width: calc(100% + 16px);
  }
}

.editing-controls {
  display: flex;
}



@media (max-width: $break-sm) {
  .todo-item {
    margin-bottom: 5px;
  }

  .button-add {
    display: block;
  }

  .button-delete {
    opacity: 1;
  }

  app-add-todo-item {
    display: none;
  }
}
