@import '../../../../scss/variables.scss';
.recipe {
  --recipe-type-width: 120px;
  cursor: pointer;
  margin-top: 16px;

  mat-card-content {
    font-size: 16px;
  }

  mat-card-footer {
    padding-right: var(--recipe-type-width);
    position: relative;
  }
}

.title {
  margin-bottom: 16px;
  padding-right: 56px;
}

.time {
  position: absolute;
  right: 16px;
  top: 16px;
}

.ingredients {
  color: lightgray;
  font-size: 15px;
  padding: 16px;
}

.ingredient {
  &:after {
    content: ',';
    display: inline;
  }
  &:last-child:after {
    content: none;
  }
}

.type {
  background-color: gray;
  bottom: 0;
  font-size: 14px;
  padding: 5px 16px;
  position: absolute;
  right: 0;
  text-align: center;
  width: var(--recipe-type-width);
}
