<div class="todo-list container medium" *ngIf="list">
  <h1>{{list.name}}</h1>

  <div class="container-top-controls">
    <button mat-fab type="button" color="secondary" (click)="toggleSorting()" title="Sortieren">
      <mat-icon>drag_indicator</mat-icon>
    </button>
    <button mat-fab type="button" color="accent" (click)="editList()" title="Bearbeiten">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <mat-card>
    <mat-card-content>
      <ng-container *ngIf="!allowSorting">
        <app-add-todo-item (addTodoItem)="addTodoItemAfter()"></app-add-todo-item>
        <ng-container *ngFor="let item of visibleItems;">
          <app-todo-item [item]="item" [userID]="userID" [listId]="list.id"></app-todo-item>
          <app-add-todo-item (addTodoItem)="addTodoItemAfter(item)"></app-add-todo-item>
        </ng-container>
      </ng-container>

      <div class="sort-list" cdkDropList *ngIf="allowSorting" (cdkDropListDropped)="onDrop($event)">
        <div class="sort-item" *ngFor="let item of list.items" cdkDrag>
          {{item.content}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="!list.keepDone && !allowSorting" class="finished-items">
    <mat-card-header>
      <mat-card-title>
        Abgeschlossene Aufgaben
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-todo-item *ngFor="let item of finishedItems" [item]="item" [userID]="userID" [listId]="list.id"></app-todo-item>
    </mat-card-content>
  </mat-card>
</div>
