@import './variables.scss';

.container {
  margin: $content-spacing auto $content-spacing;
  max-width: $container-width + ($container-padding * 2);
  padding-left: $container-padding;
  padding-right: $container-padding;
  position: relative;
  width: 100%;

  &.small { max-width: $container-width-small + ($container-padding * 2); }
  &.medium { max-width: $container-width-medium + ($container-padding * 2); }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.stacked-form {
  display: flex;
  flex-wrap: wrap;

  mat-form-field {
    display: block;
    width: 100%;
  }

  fieldset {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    width: 100%;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
