@import './scss-variables';

.container {
  margin: var(--content-spacing) auto var(--content-spacing);
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  position: relative;
  width: 100%;

  &.small { max-width: calc(var(--container-width-small) + (var(--container-padding) * 2)); }
  &.medium { max-width: calc(var(--container-width-medium) + (var(--container-padding) * 2)); }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.stacked-form {
  display: flex;
  flex-wrap: wrap;

  mat-form-field {
    display: block;
    width: 100%;
  }

  fieldset {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    width: 100%;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
  }
}

button.button-container-top {
  position: absolute;
  right: var(--container-padding);
  top: -16px;
}

.container-top-controls {
  display: flex;
  position: absolute;
  right: var(--container-padding);
  top: -16px;

  button {
    margin-left: 8px;
  }
}

.sort-list {
  .sort-item {
    align-items: center;
    cursor: move;
    display: flex;
    min-height: 50px;
    padding: 8px 16px;
  }

  &.cdk-drop-list-dragging .sort-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drag-preview {
  align-items: center;
  background-color: #424242;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  color: white;
  display: flex;
  min-height: 50px;
  padding: 8px 16px;
}

.cdk-drag-placeholder {
  background-color: #4d4d4d;
  color: #4d4d4d;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: $break-sm) {
  main {

    .mat-card {
      padding: 10px;
    }
    .mat-card-footer {
      padding: 10px;
      margin: 0 -10px -10px -10px;
    }
  }
}
