@import './scss-variables.scss';

:root {
  --container-width: 1300px;
  --container-width-medium: 900px;
  --container-width-small: 540px;
  --container-padding: 25px;
  --content-spacing: 50px;

  --animation-time: 0.2s;
}



@media (max-width: $break-sm) {
  :root {
    --content-spacing: 30px;
    --container-padding: 15px;
  }
}
