$container-width:                       1300px;
$container-width-medium:                900px;
$container-width-small:                 540px;
$container-padding:                     25px;
$content-spacing:                       50px;

$animation-time:                        0.2s;
